@import url('https://fonts.googleapis.com/css?family=Tajawal');

body {
  font-family: 'Tajawal', sans-serif;
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header h1 {
  text-align: center;
  margin-top: 20px;
}

header h1 a, header h1 a:hover {
  color: grey;
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
}

/* -------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------- */

nav {
  text-align: right;
  margin-right: 50px;
}

nav li {
  margin-left: 100px;
  padding-top: 10px;
  position: relative;
  list-style: none;
  display: inline-block;
}

nav a, nav a:hover {
  text-decoration: none;
  color: grey;
  text-transform: lowercase;
  font-size: 1.5 rem;
}

nav a:hover {
  transition: 0.3s;
}

nav a::before {
  content: "";
  height: 4px;
  width: 0%;
  display: block;
  background-color: grey;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* -------------------------------------------------------- */
/* MAIN */
/* -------------------------------------------------------- */

.main-box {
  /* background-color: aqua; */
  width: 90%;
  margin: 0 auto;
}

main img {
  height: 300px;
  width: auto;
  /* border: 3px solid rgb(255, 0, 0); */
  margin : 20px;
}

/* -------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------- */

footer {
  text-align: center;
  font-weight: 200;
  color: grey;
  margin-top: 20px;
}
